:root {
	--title-font: 'EB Garamond', serif;
	--body-font: 'Gill Sans', sans-serif;
	--font-size: 18px;

	--title-font-weight-normal: 400;
	--title-font-weight-bold: 700;
	--body-font-weight-normal: 400;
	--body-font-weight-bold: 700;

	--background-color: #2c3333;
	--background-color-dark: #040d12;

	--primary-color: #395b64;
	--primary-color-dark: #183d3d;
	--secondary-color: #a5c9ca;
	--tertiary-color: #e7f6f2;

	--shadow-color: hsla(0, 0%, 0%, 0.3);

	--header-height: 70px;
	--nav-height: 60px;
}

/* #region BASE */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: var(--background-color);
	font-size: var(--font-size);
}
/* #endregion */

/* #region FLEX STYLES */
.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-content-space-between {
	justify-content: space-between;
}

.flex-content-center {
	justify-content: center;
}

.flex-align-items-center {
	align-items: center;
}

.flex-align-items-start {
	align-items: flex-start;
}
/* #endregion */

/* #region TEXT STYLES */
h1,
h2,
h3 {
	font-family: var(--title-font);
	margin: 10px 0px;
	color: var(--secondary-color);
}

h1 {
	font-size: 5rem;
	font-weight: var(--title-font-weight-bold);
	color: var(--tertiary-color);
}

h2 {
	font-size: 2rem;
	font-weight: var(--title-font-weight-bold);
}

h3 {
	font-size: 1.5rem;
	font-weight: var(--title-font-weight-normal);
}

p {
	font-family: var(--body-font);
	font-weight: var(--body-font-weight-normal);
	color: var(--tertiary-color);
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}
/* #endregion */

/* #region HEADER */
header {
	z-index: 1;

	position: fixed;
	width: 100%;
	height: var(--header-height);

	background: var(--primary-color);
	box-shadow: 0 1px 3px var(--shadow-color);
}

nav ul {
	list-style: none;
}

nav li {
	padding: 1rem 2rem;
	font-size: 1.5rem;
}

nav a {
	text-decoration: none;
	color: var(--tertiary-color);
}

nav li:hover {
	background-color: var(--primary-color-dark);
	border-radius: 10px;
}
/* #endregion */

/* #region MAIN */
main {
	padding-top: var(--header-height);
}

main > hr {
	border-top: 7px solid var(--tertiary-color);
	width: 3rem;
	margin: 0 auto;
}
/* #endregion */

/* #region SECTIONS */
section {
	display: block;
	height: calc(100vh - var(--header-height));

	scroll-margin-top: var(--header-height);
	padding: 50px 80px;
}

section:not(#home) {
	height: fit-content;
}
/* #endregion */

/* #region HOME */
#home {
	background: linear-gradient(
		45deg,
		var(--primary-color-dark),
		var(--background-color-dark),
		var(--primary-color-dark)
	);
}

#home img {
	width: 300px;
	height: auto;
	margin-bottom: 1rem;
	border-radius: 50%;
}

#home h2 {
	font-weight: var(--title-font-weight-normal);
}

#home b {
	color: var(--tertiary-color);
}
/* #endregion */

/* #region ACERCA-DE-MI */
.biografia {
	width: 575px;
	gap: 1rem;
}

.info-personal {
	width: 500px;
	gap: 1rem;
}

.info-personal hr {
	border-top: 1px solid var(--tertiary-color);
}

.info-personal-fila {
	gap: 2rem;
}

.info-personal-fila > h3,
p,
ul {
	margin-top: auto;
	margin-bottom: auto;
}

.info-personal-fila > h3 {
	width: 125px;
}

.info-personal-fila > p {
	width: 350px;
}

.info-personal-fila ul {
	list-style: circle;
	font-family: var(--body-font);
	color: var(--tertiary-color);
}
/* #endregion */

/* #region FOOTER */
footer {
	height: fit-content;
	padding: 25px 50px;
	background-color: var(--primary-color);
}
/* #endregion */
